# ignore .git and .cache folders
.git
.cache
*.pyc

# ignore audio
*.mp3
*.wav

# redis database files
*.rdb

# Other folders to ignore
flask_session/*
app/app/tmp/*
app/app/flask_session/*
app/app/test_files/*
scripts/*
scripts_cortex/*
output/*
models/*
2dft/*
scripts_cortex.zip

