[submodule "nussl"]
	path = nussl
	url = git@github.com:interactiveaudiolab/nussl.git
  branch = train
[submodule "experiments"]
	path = experiments
	url = git@github.com:pseeth/experiments.git
  branch = retrain
