<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WUT | Web Unmixing Toolbox | Interactive Audio Lab</title>
    <meta name="description" content="Web Unmixing Toolbox from the Interactive Audio Lab at Northwestern University">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link rel="apple-touch-icon" href="apple-touch-icon.png">#}
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-multiselect.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.js"></script>
{#    <script data-main="scripts/main" src="scripts/require.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.regions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.timeline.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/buffer-loader.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/dsp.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/waves-loaders.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/waves-ui.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
{#        <script src="js/main.js"></script>#}

<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid" id="title-text-wrapper-outer">
            <div class="navbar-header" id="title-text-inner">
                <a class="navbar-brand" href="#" id="title-text"
                   data-text-swap="Web Unmixing Toolbox" title="What's WUT?">Web Unmixing Toolbox</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="controls">
            <ul class="nav navbar-nav">
                <li class="divider-vertical"></li>
                <li id="import-audio">
                    <a href="#">
                        <i class="glyphicon glyphicon-open icon text-center" id="open-button"></i>
                        <p class="control-text">Open</p>
                    </a>
                </li>

                <li class="divider-vertical"></li>
                <li>
                    <p class="control-text" style="display: inline; padding-left: 0.25em;"> Status:</p><p id="general-status">Ready...</p>
                </li>

            </ul>
        </div>
    </nav>

    <div id="open-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Welcome! Open a New Audio File</h3>
                </div>
                <div class="modal-body">
                    <div class="row modal-section" id="file-info-container">
                        <div class="col-sm-2">
                            <p>File: </p>
                        </div>
                        <div class="col-sm-8">
                            <p id="filename"></p>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm" id="open-button-modal">
                                <i class="glyphicon glyphicon-folder-open icon text-center"></i>
                                Open File
                            </button>
                        </div>
                    </div>
                    <form id="survey">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Please tell WUT about your audio...</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="modal-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>I am trying to extract:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="extraction-goal" multiple="multiple">
                                            <option value="vocals">Vocals</option>
                                            <option value="accompaniment">Accompaniment</option>
                                            <option value="drums">Drums</option>
                                            <option value="bass">Bass</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="form-control-static pull-left">
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom"
                           data-content="WUT stores your raw audio data on the server for 7 days after your last
                            active sesion. For more information about how your audio is stored, see our Privacy Policy
                            (at the bottom of the main WUT page).">
                            Privacy
                        </a>
                    </span>
                    <button id="survey-done" type="submit" class="btn btn-primary disabled">Start!</button>
                </div>
            </div>
        </div>
    </div>

    <form action="audio_upload" style="display: none;" method="post" role="form"
          enctype="multipart/form-data">
        <input id="input_audio_file" style="display: none" accept="audio/*" type="file" name="audio_file" />
    </form>
    <div id="mainContent">

        <div class="player-wrapper" id="mixture-player">
            <div class="player-controls" id="mixture-player-controls">
                <div class="player-controls-inner" style="padding-left: 20px">
                    <div class="btn-group-vertical" {#  style="padding-bottom: 10px" #} >

                        <button id="mixture-play" class="btn btn-primary result-controls play-pause"
                                title="Play">
                                <i class="glyphicon glyphicon-play" title="Play Audio"></i>
                        </button>
{#                    </div>#}
{#                    <div>#}
                        <button id="mixture-stop" class="btn btn-primary result-controls"
                                title="Stop">
                                <i class="glyphicon glyphicon-stop" title="Stop Audio"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="waveform-wrapper" id="mixture-waveform-wrapper">
                <div class="waveform">
                    <div id="mixture-waveform" style="width: 100%">
                        {# <div class="progress progress-striped active" id="progress-bar" style="display: none;">#}
                        {# <div class="progress-bar progress-bar-info" style="width: 100%;"></div>#}
                        {# </div>#}
                    </div>
                    <div id="waveform-timeline"></div>
                </div>
            </div>
        </div>

        <div id="tabs-wrapper">
            <ul class="nav nav-tabs" id="mainTabs">
                <li class="active"><a href="#spectrogram-tab">Spectrogram</a></li>
                <li><a href="#duet-tab">Attenuation/Delay Histogram</a></li>
                <li id="results-pill"><a href="#results-tab">Results</a></li>
                <li><a href="#reqs-tab">Recommendations</a></li>
            </ul>
        </div>


        <div class="tab-content">
            <div class="tab-pane active" id="spectrogram-tab">
                <div class="row" id="spectrogram-controls">
                    <div class="col-md-1"></div>
                    <div class="col-md-1" id="waveform-zoom-buttons">
                        <div class="btn-group">
                            <button id="mixture-zoom-in" class="btn btn-primary" title="Zoom in">
                                <i class="glyphicon glyphicon-zoom-in" id="waveform"></i>
                            </button>

                            <button id="mixture-zoom-out" class="btn btn-primary" title="Zoom out">
                                <i class="glyphicon glyphicon-zoom-out"></i>
                            </button>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="btn-group">
                            Selection Tools:
                            <button id="selection-louder" class="btn btn-primary spec-tool disabled" title="Make selection louder">
                                <i class="fa fa-volume-off fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button id="selection-softer" class="btn btn-primary spec-tool disabled" title="Make selection softer">
                                <i class="fa fa-volume-off fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                            <button id="selection-remove" class="btn btn-primary spec-tool disabled" title="Delete selected regions">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                            <button id="selection-inverse" class="btn btn-primary spec-tool disabled" title="Invert selection">
                                Invert Selection
                            </button>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div id="spec-color" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="white" autocomplete="off" checked> White
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="green" autocomplete="off"> Green
                            </label>
                        </div>
                    </div>
                </div>
                <div id="spectrogram-container">

                    <div id="spectrogram-heatmap" data-target-name="{{ target_dict['mixture']['name'] }}">
                        <!-- Spectrogram will be drawn in this div -->
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="duet-tab">
                <div class="row" id="duet-controls">
                    <div class="col-md-1"></div>
                    <div class="col-md-1" id="duet-zoom-buttons">
                        <div class="btn-group">
                            <button id="duet-zoom-in" class="btn btn-primary" title="Zoom in">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </button>

                            <button id="ft2d-zoom-out" class="btn btn-primary" title="Zoom out">
                                <i class="glyphicon glyphicon-zoom-out"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="selection-louder" class="btn btn-primary spec-tool disabled" title="Make selection louder">
                                Make Selection Louder
                            </button>
                            <button id="selection-softer" class="btn btn-primary spec-tool disabled" title="Make selection softer">
                                Make Selection Softer
                            </button>
                            <button id="selection-remove" class="btn btn-primary spec-tool disabled" title="Remove selection">
                                Remove Selection
                            </button>
                            <button id="selection-inverse" class="btn btn-primary spec-tool disabled" title="Invert selection">
                                Invert Selection
                            </button>
                        </div>
                    </div>

                </div>
                <div id="duet-container">
                    <div id="duet-heatmap" data-target-name="{{ target_dict['duet']['name'] }}">
                        <!-- Attenuation/Delay Histogram will be drawn in this div -->
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="results-tab">
                <div class="row" style="height: 33px">
                </div>
                <div class="player-wrapper" id="results-player">
                    <div class="player-controls" id="result-player-controls">
                        <div class="player-controls-inner">
                            <div style="padding-bottom: 5px">
                                <button id="result-play" class="btn btn-primary result-controls disabled"
                                        title="Play/Pause">
                                        <i class="glyphicon glyphicon-play" title="Play Audio"></i>
                                </button>
                            </div>
                            <div style="padding-bottom: 5px">
                                <button id="result-stop" class="btn btn-primary result-controls disabled"
                                        title="Stop">
                                        <i class="glyphicon glyphicon-stop" title="Stop Audio"></i>
                                </button>
                            </div>
                            <div>
                                <button id="save-result" class="btn btn-primary result-controls disabled"
                                        title="Save Result">
                                        Save
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="waveform-wrapper" id="result-waveform-wrapper">
                        <div class="waveform">
                            <div id="result-waveform" style="width: 100%">
                                {# <div class="progress progress-striped active" id="progress-bar" style="display: none;">#}
                                {# <div class="progress-bar progress-bar-info" style="width: 100%;"></div>#}
                                {# </div>#}
                            </div>
                            <div id="result-waveform-timeline"></div>
                        </div>
                    </div>
                </div>
                <div id="result-spectrogram-container">

                    <div id="result-spectrogram-heatmap" data-target-name="{{ target_dict['result']['name'] }}">
                        <!-- Spectrogram will be drawn in this div -->
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="reqs-tab">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="btn-group btn-group-sm">
                            <button id="req-stop" class="btn btn-primary" title="Stop">
                                <i class="glyphicon glyphicon-stop"></i>
                            </button>
                            <button id="req-play" class="btn btn-primary play-pause" title="Play">
                                <i class="glyphicon glyphicon-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" id="track-container">
                    <div class="row track-and-controls">
                        <div class="col-md-1 col-md-offset-1 track-controls">
                            <h5>Repet</h5>
                            <div class="btn-group btn-group-xs">
                                <button id="repet-solo" class="btn btn-primary" title="Solo">
                                    S
                                </button>
                                <button id="repet-mute" class="btn btn-primary" title="Mute">
                                    M
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 waves-ui-container">
                            <div class="waves-ui-track" id="track-1-waves-ui" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="row track-and-controls">
                        <div class="col-md-1 col-md-offset-1 track-controls">
                            <h5>Melodia</h5>
                            <div class="btn-group btn-group-xs">
                                <button id="melodia-solo" class="btn btn-primary" title="Solo">
                                    S
                                </button>
                                <button id="melodia-mute" class="btn btn-primary" title="Mute">
                                    M
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 waves-ui-container">
                            <div class="waves-ui-track" id="track-2-waves-ui" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="row track-and-controls">
                        <div class="col-md-1 col-md-offset-1 track-controls">
                            <h5>Projet</h5>
                            <div class="btn-group btn-group-xs">
                                <button id="projet-solo" class="btn btn-primary" title="Solo">
                                    S
                                </button>
                                <button id="projet-mute" class="btn btn-primary" title="Mute">
                                    M
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 waves-ui-container">
                            <div class="waves-ui-track" id="track-3-waves-ui" style="width: 100%"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <div id="footer">
        <p>Ethan Manilow, Bryan Pardo, Darren Gergle
            <br />This work supported in part by NSF Award
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1420971&HistoricalAwards=false">1420971</a>
            <br />Northwestern University</p>
        <a id="privacy-policy-link" href="">Privacy Policy</a>
    </div>
    <div id="privacy-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Privacy Policy</h3>
                </div>
                <div class="modal-body">
                    <p>
{#                        The Web Unmixing Toolbox (WUT) only stores your raw audio data for 7 days#}
{#                        after your last session, after which your raw audio data will be deleted. WUT necessarily#}
{#                        needs a copy of your raw audio data in order to do the server-side processing that enables#}
{#                        the interactions WUT provides. The only remnants of your audio that are stored on our servers#}
{#                        after the 7 day grace period are high-level statistics and non-invertable high-dimensional#}
{#                        audio representations (i.e., representations of your audio that cannot be turned back#}
{#                        into sound). These statistics and high-dimensional representations are used to power the#}
{#                        recommendation engine in WUT. WUT also uses information about how you use WUT (i.e.,#}
{#                        what tools you use) to power these recommendations.#}
                        The Web Unmixing Toolbox (WUT) is currently under active development. If you stumble upon
                        it, you should assume any audio that you upload to it can be used as training data for
                        future releases of WUT. That being said, future releases of WUT will have a very strict
                        adherence to privacy principles and will assert that your audio and audio data are
                    </p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly_plots.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_2dft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_atn_delay_hist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/array.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/csv_parse.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selection.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/track.js') }}"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--<script>-->
<!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
<!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
<!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
<!--e.src='https://www.google-analytics.com/analytics.js';-->
<!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
<!--ga('create','UA-XXXXX-X','auto');ga('send','pageview');-->
<!--</script>-->
</body>
</html>
