<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WUT | Web Unmixing Toolbox | Interactive Audio Lab</title>
    <meta name="description" content="Web Unmixing Toolbox from the Interactive Audio Lab at Northwestern University">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>

    <!-- expensive import for solely debounce, maybe just write our own? -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>

    <!-- Using local version of plotly because of bug in latest Plotly (as of 2/26/2018) - https://github.com/plotly/plotly.js/issues/2334
         Following the workaround mentioned by mlaily in that issue we have modified `snap:1e4` -> `snap:1e7` which fixes underrendering -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.regions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.timeline.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/socket.io.js') }}"></script>
</head>
<body>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
    <div class="modal-content-wrapper">
    <header>
        <div>Web Unmixing Toolbox</div>
    </header>

    <main>
        <div class="waveform-cont">
            <!-- <div id='upload'><i class="fas fa-upload fa-lg"></i></div> -->
            <button id="audio-upload-modal-open" type="button" class="btn btn-primary" title="Open Modal">
                Begin
            </button>

            <div class="controls">
                <button id="mixture-play" type="button" class="btn btn-primary disabled" title="Play audio">
                    <i class="fas fa-play"></i>
                </button>
                <button id="mixture-stop" type="button" class="btn btn-primary disabled">
                    <i class="fas fa-stop"></i>
                </button>
            </div>

            <div id="mixture-waveform"></div>
        </div>

        <div class='left-right-waveform-cont'>

            <div class="waveform-cont">
                <div class="waveform-title"><div>Selected (Blue)</div></div>

                <div class="controls">
                    <button id="masked-play" type="button" class="btn btn-primary disabled" title="Play audio">
                        <i class="fas fa-play"></i>
                    </button>
                    <button id="masked-stop" type="button" class="btn btn-primary disabled">
                        <i class="fas fa-stop"></i>
                    </button>
                </div>

                <div id="masked-waveform" class="shared-waveform-spinner"></div>
                <div id='masked-spinner' class='spinner-outer shared-waveform-spinner'>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>

            <div class="waveform-cont">
                <div class="waveform-title"><div>Other</div></div>

                <div class="controls">
                    <button id="inverse-play" type="button" class="btn btn-primary disabled" title="Play audio">
                        <i class="fas fa-play"></i>
                    </button>
                    <button id="inverse-stop" type="button" class="btn btn-primary disabled">
                        <i class="fas fa-stop"></i>
                    </button>
                </div>

                <div id="inverse-waveform" class="shared-waveform-spinner"></div>
                <div id='inverse-spinner' class='spinner-outer shared-waveform-spinner'>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="interaction">
            <div class="shared-plots-spinner">
                <div id='pca-cont'>
                    <div class='title-cont'>
                        <div>Visualization of Embedding Space</div>

                        <div class="hint--top hint--large hint--rounded" aria-label="Click and drag on the plot to select bins and see the corresponding points on the spectrogram highlighted. A Principal Component Analysis representation of the k-dimensional embedding space.">
                            <i class="fa fa-info-circle"></i>
                        </div>
                    </div>

                    <div id="pca-controls">
                        <button id="flip-1d" type="button" class="btn btn-primary disabled dc-1d-control">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                        <div id="pca-checkbox">
                            <input type="checkbox" id="log-y-1d" class="disabled dc-1d-control">
                            <label for="log-y-1d">Log Y?</label>
                        </div>
                        <button id="apply-selections" type="button" class="btn btn-primary disabled">Hear Results</button>
                        <button id="retrain" type="button" class="btn btn-primary disabled">Retrain</button>
                    </div>

                    <div class="outer">
                        <div class="aspect-ratio-box">
                            <div class="alignment" id="pca-1d">
                            </div>
                        </div>
                    </div>
                    <div id="pca-1d-slider">
                        <input id="slider-1d" data-slider-id='slider-1d' type="text"
                               data-slider-min="0" data-slider-max="100"
                               data-slider-step="1" data-slider-value="50"/>
                    </div>
                </div>


                <div id='spectrogram-cont'>
                    <div class='title-cont'>
                        <div>Spectrogram</div>

                        <div class="hint--top hint--large hint--rounded" aria-label="Visual representation of audio signal. Frequency in mels, time  in seconds. Each point on the x-axis is a single STFT taken over j samples. Intensity of a specific frequency over a specific window is given by color.">
                            <i class="fa fa-info-circle"></i>
                        </div>
                    </div>

                    <div id="spectrogram"></div>
                </div>
            </div>
            <div id='plots-spinner' class='spinner-outer shared-plots-spinner'>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Ethan Manilow, Nathan Shelly, Prem Seetharaman, Bryan Pardo</p>
        <p>This work supported in part by NSF Award <a href=
            "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1420971&HistoricalAwards=false"
            >1420971</a></p>
        <p>Northwestern University</p>
    </footer>
    </div>

    <!-- <<<<<<<<<>>>>>>>>> -->
    <!-- audio upload modal -->
    <!-- <<<<<<<<<>>>>>>>>> -->

    <div class="modal" id="audio-upload-modal">
        <div id='audio-upload-modal-header'>
          <button id="audio-upload-modal-back" type="button" class="btn btn-primary" title="Back">
            <i class="fas fa-chevron-left"></i>
          </button>

          <button id="audio-upload-modal-close" type="button" class="btn btn-primary" title="Close Modal">
              <i class="fas fa-times"></i>
          </button>
        </div>

        <!-- audio upload modal first page -->
        <div id='audio-upload-modal-separation'>
            <div class='modal-info-text'>What would you like to separate?</div>

            <div id='audio-upload-modal-separation-radios'>
                <div class="form-check">
                    <input class="form-check-input separation-radio" type="radio" name="modelSelection" value="speech" id="speech" checked>
                    <label class="form-check-label" for="speech">Speech</label>
                </div>
            </div>

            <button id="audio-upload-modal-next" type="button" class="modal-bottom-button btn btn-primary" title="Modal Next">
                Next
            </button>
        </div>

        <!-- audio upload modal second page -->
        <div id='audio-upload-modal-audio'>
            <div class='modal-info-text'>Upload or Record Audio</div>

            <div id='audio-upload-audio-upload-modal-upload-or-record'>
                <div id='audio-upload-modal-upload'><i class="fas fa-upload fa-2x"></i></div>
                <!-- HIDDEN -->
                <!-- there's probably a better way to do this -->
                <form id="audio-upload-modal-upload-form" method="post" role="form" enctype="multipart/form-data">
                    <input id="audio-upload-modal-upload-input" accept="audio/*" type="file" />
                </form>

                <div>or</div>

                <div id="audio-upload-modal-record" class='audio-upload-modal-record-off'></div>
            </div>

            <div id='audio-upload-modal-results'>
                <audio id="audio-upload-modal-final" controls></audio>
            </div>

            <div>WARNING: uploading or recording a new audio clip will erase old selections</div>

            <button id="audio-upload-modal-begin" type="button" class="modal-bottom-button btn btn-primary disabled" title="Modal Begin">
                Begin
            </button>
        </div>
    </div>

    <!-- <<<<<<<<<<<<>>>>>>>>>>>>> -->
    <!-- end of audio upload modal -->
    <!-- <<<<<<<<<<<<>>>>>>>>>>>>> -->

    <!-- modal cover behind -->
    <div class="modal-cover"></div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/array.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_heatmap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram_scatter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_dc_2d.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_dc_1d.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/audio_modal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/waveform.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/study.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selection.js') }}"></script>
</body>
</html>
