<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WUT | Web Unmixing Toolbox | Interactive Audio Lab</title>
    <meta name="description" content="Web Unmixing Toolbox from the Interactive Audio Lab at Northwestern University">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-multiselect.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.js"></script> -->
    <!-- expensive import for solely debounce, maybe just write our own? -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>

{#    <script data-main="scripts/main" src="scripts/require.js"></script>#}
    <!-- Using local version of plotly because of bug in latest Plotly (as of 2/26/2018) - https://github.com/plotly/plotly.js/issues/2334
         Following the workaround mentioned by mlaily in that issue we have modified `snap:1e4` -> `snap:1e7` which fixes underrendering -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.regions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.timeline.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/buffer-loader.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/dsp.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/socket.io.js') }}"></script>
</head>
</head>
<body>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
{#        <script src="js/test.js"></script>#}
    <header>
        <div>Web Unmixing Toolbox</div>
        <div id="status-cont">
            <p>Status: </p>
            <p id="status">Ready...</p>
        </div>
    </header>
    <main>
        <div class="waveform-cont">

            <div class="controls">
                <button id="mixture-play" type="button" class="btn btn-primary">
                    <i class="fas fa-play"></i>
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-stop"></i>
                </button>
            </div>

            <div id="waveform"></div>

            <div class='upload'><i class="fas fa-upload fa-lg"></i></div>
        </div>

        <div class="interaction">

            <div class="outer">
                <div class="aspect-ratio-box">
                    <div class="alignment" id="pca">
                    </div>
                </div>
            </div>

            <div id="spectrogram"></div>

        </div>

    </main>
    <footer>
        <p>Ethan Manilow, Bryan Pardo, Darren Gergle </p>
        <p>This work supported in part by NSF Award <a href=
            "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1420971&HistoricalAwards=false"
            >1420971</a></p>
        <p>Northwestern University</p>
    </footer>

    <form action="audio_upload" style="display: none;" method="post" role="form" enctype="multipart/form-data">
        <input id="input_audio_file" style="display: none" accept="audio/*" type="file" name="audio_file" />
    </form>

<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly_plots.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram_scatter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_2dft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_atn_delay_hist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_pca.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/array.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/csv_parse.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selection.js') }}"></script>
</body>
</html>
