<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WUT | Web Unmixing Toolbox | Interactive Audio Lab</title>
    <meta name="description" content="Web Unmixing Toolbox from the Interactive Audio Lab at Northwestern University">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-multiselect.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.js"></script> -->
    <!-- expensive import for solely debounce, maybe just write our own? -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>

{#    <script data-main="scripts/main" src="scripts/require.js"></script>#}
    <!-- Using local version of plotly because of bug in latest Plotly (as of 2/26/2018) - https://github.com/plotly/plotly.js/issues/2334
         Following the workaround mentioned by mlaily in that issue we have modified `snap:1e4` -> `snap:1e7` which fixes underrendering -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.regions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.timeline.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/buffer-loader.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/dsp.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/socket.io.js') }}"></script>
</head>
</head>
<body>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
{#        <script src="js/test.js"></script>#}
    <div class="avgrund-content-wrapper">
    <header>
        <div>Web Unmixing Toolbox</div>
    </header>

    <main>
        <div class="waveform-cont">
            <!-- <div id='upload'><i class="fas fa-upload fa-lg"></i></div> -->
            <button id="modal-open" type="button" class="btn btn-primary" title="Close Modal">
                Begin
            </button>

            <div class="controls">
                <button id="mixture-play" type="button" class="btn btn-primary disabled" title="Play audio">
                    <i class="fas fa-play"></i>
                </button>
                <button id="mixture-stop" type="button" class="btn btn-primary disabled">
                    <i class="fas fa-stop"></i>
                </button>
            </div>

            <div id="mixture-waveform"></div>
        </div>

        <div class="waveform-cont">
            <div class="waveform-title"><div>Selected Audio</div></div>

            <div class="controls">
                <button id="masked-play" type="button" class="btn btn-primary disabled" title="Play audio">
                    <i class="fas fa-play"></i>
                </button>
                <button id="masked-stop" type="button" class="btn btn-primary disabled">
                    <i class="fas fa-stop"></i>
                </button>
            </div>

            <div id="masked-waveform" class="shared-waveform-spinner"></div>
            <div id='masked-spinner' class='spinner-outer shared-waveform-spinner'>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>

        <div class="waveform-cont">
            <div class="waveform-title"><div>Unselected Audio</div></div>

            <div class="controls">
                <button id="inverse-play" type="button" class="btn btn-primary disabled" title="Play audio">
                    <i class="fas fa-play"></i>
                </button>
                <button id="inverse-stop" type="button" class="btn btn-primary disabled">
                    <i class="fas fa-stop"></i>
                </button>
            </div>

            <div id="inverse-waveform" class="shared-waveform-spinner"></div>
            <div id='inverse-spinner' class='spinner-outer shared-waveform-spinner'>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>

        <div class="interaction">
            <button id="apply-selections" type="button" class="btn btn-primary disabled">Apply Selections</button>

            <div class="shared-plots-spinner">
                <div id='pca-cont'>
                    <div class='title-cont'>
                        <div>Visualization of Embedding Space</div>

                        <div class="hint--top hint--large hint--rounded" aria-label="Click and drag on the plot to select bins and see the corresponding points on the spectrogram highlighted. A Principal Component Analysis representation of the k-dimensional embedding space.">
                            <i class="fa fa-info-circle"></i>
                        </div>
                    </div>

                    <div class="outer">
                        <div class="aspect-ratio-box">
                            <div class="alignment" id="pca">
                            </div>
                        </div>
                    </div>
                </div>


                <div id='spectrogram-cont'>
                    <div class='title-cont'>
                        <div>Spectrogram</div>

                        <div class="hint--top hint--large hint--rounded" aria-label="Visual representation of audio signal. Frequency in mels, time  in seconds. Each point on the x-axis is a single STFT taken over j samples. Intensity of a specific frequency over a specific window is given by color.">
                            <i class="fa fa-info-circle"></i>
                        </div>
                    </div>

                    <div id="spectrogram"></div>
                </div>
            </div>
            <div id='plots-spinner' class='spinner-outer shared-plots-spinner'>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Ethan Manilow, Bryan Pardo, Darren Gergle </p>
        <p>This work supported in part by NSF Award <a href=
            "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1420971&HistoricalAwards=false"
            >1420971</a></p>
        <p>Northwestern University</p>
    </footer>

    <!-- <form action="audio_upload" style="display: none;" method="post" role="form" enctype="multipart/form-data">
        <input id="input_audio_file" style="display: none" accept="audio/*" type="file" name="audio_file" />
    </form> -->
    </div>

    <!-- MODAL -->

    <div id="modal" class="avgrund-modal">
        <div id='modal-header'>
          <button id="modal-back" type="button" class="btn btn-primary" title="Back">
            <i class="fas fa-chevron-left"></i>
          </button>

          <button id="modal-close" type="button" class="btn btn-primary" title="Close Modal">
              <i class="fas fa-times"></i>
          </button>
        </div>

        <!-- modal first page -->
        <div id='modal-separation'>
            <div class='modal-info-text'>What would you like to separate?</div>

            <div id='modal-separation-checks'>
                <div class="form-check">
                    <input class="form-check-input separation-check" type="checkbox" value="vocals" id="vocals">
                    <label class="form-check-label" for="vocals">Vocals</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input separation-check" type="checkbox" value="accompaniment" id="accompaniment">
                    <label class="form-check-label" for="accompaniment">Accompaniment</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input separation-check" type="checkbox" value="drums" id="drums">
                    <label class="form-check-label" for="drums">Drums</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input separation-check" type="checkbox" value="bass" id="bass">
                    <label class="form-check-label" for="bass">Bass</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input separation-check" type="checkbox" value="speech" id="speech">
                    <label class="form-check-label" for="speech">Speech</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input separation-check" type="checkbox" value="other" id="other">
                    <label class="form-check-label" for="other">Other</label>
                </div>
            </div>

            <button id="modal-next" type="button" class="btn btn-primary disabled" title="Modal Next">
                Next
            </button>
        </div>

        <!-- modal second page -->
        <div id='modal-audio'>
            <div class='modal-info-text'>Upload or Record Audio</div>

            <div id='modal-upload-or-record'>
                <div id='modal-upload'><i class="fas fa-upload fa-2x"></i></div>
                <!-- HIDDEN -->
                <!-- there's probably a better way to do this -->
                <form id="modal-audio-upload-form" method="post" role="form" enctype="multipart/form-data">
                    <input id="modal-upload-audio-input" accept="audio/*" type="file" />
                </form>

                <div>or</div>

                <div id="modal-record" class='modal-record-off'></div>
            </div>

            <div id='modal-results'>
                <audio id="modal-final-audio" controls></audio>
            </div>

            <button id="modal-begin" type="button" class="btn btn-primary disabled" title="Modal Begin">
                Begin
            </button>
        </div>
    </div>

    <!-- modal cover behind -->
    <div class="avgrund-cover"></div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_plots.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram_scatter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_2dft.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_atn_delay_hist.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plot_pca.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/waveform.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/array.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stft.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/csv_parse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selection.js') }}"></script>
</body>
</html>
