<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WUT | Web Unmixing Toolbox | Interactive Audio Lab</title>
    <meta name="description" content="Web Unmixing Toolbox from the Interactive Audio Lab at Northwestern University">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-multiselect.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.js"></script>
{#    <script data-main="scripts/main" src="scripts/require.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.regions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.timeline.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/buffer-loader.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/dsp.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/socket.io.js') }}"></script>
</head>
</head>
<body>
    
<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
{#        <script src="js/test.js"></script>#}
    <header>
        <div>Web Unmixing Toolbox</div>
        <div class="header-elements">
            <div class="upload">
                <div class="vertical-divider"></div>
                <div><i class="fas fa-upload fa-lg"></i></div>
                <div class="vertical-divider"></div>
            </div>
            <div id="status-cont">
                <p>Status:</p>
                <p id="status">Ready...</p>
            </div>
        </div>
    </header>
    <main>
        <div class="waveform-cont">
        <div class="controls">
            <button id="mixture-play" type="button" class="btn btn-primary">
                <i class="fas fa-play"></i>
            </button>
            <button type="button" class="btn btn-primary">
                <i class="fas fa-stop"></i>
            </button>
        </div>

        <div id="waveform" style="text-align:center"></div>
        </div>

        <div class="interaction">
            <div id="pca"></div>
            <div id="spectrogram"></div>
        </div>
        
    </main>
    <footer>
        <p>Ethan Manilow, Bryan Pardo, Darren Gergle </p>
        <p>This work supported in part by NSF Award <a href=
            "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1420971&HistoricalAwards=false"
            >1420971</a></p>
        <p>Northwestern University</p>
    </footer>

    <div id="open-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
{#                    <button type="button" class="close" data-dismiss="modal">&times;</button>#}
                    <h3 class="modal-title">Welcome! Open a New Audio File</h3>
                </div>
                <div class="modal-body">
                    <div class="row modal-section" id="file-info-container">
                        <div class="col-sm-2">
                            <p>File: </p>
                        </div>
                        <div class="col-sm-8">
                            <p id="filename"></p>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm" id="open-button-modal">
                                <i class="glyphicon glyphicon-folder-open icon text-center"></i>
                                Open File
                            </button>
                        </div>
                    </div>
                    <form id="survey">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Please tell WUT about your audio...</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="modal-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>I am trying to extract:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="extraction-goal" multiple="multiple">
                                            <option value="vocals">Vocals</option>
                                            <option value="accompaniment">Accompaniment</option>
                                            <option value="drums">Drums</option>
                                            <option value="bass">Bass</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
{#                                <div class="checkbox">#}
{#                                    <label><input type="checkbox" value="" id="do-not-store">Do not use my response to enable further recommendations.</label>#}
{#                                </div>#}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="form-control-static pull-left">
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom"
                            data-content="WUT stores your raw audio data on the server for 7 days after your last
                            active sesion. For more information about how your audio is stored, see our Privacy Policy
                            (at the bottom of the main WUT page).">
                            Privacy
                        </a>
                    </span>
                    <button id="survey-done" type="submit" class="btn btn-primary disabled" data-dismiss="modal">Start!</button>
                </div>
            </div>
        </div>
    </div>

    <form action="audio_upload" style="display: none;" method="post" role="form"
            enctype="multipart/form-data">
        <input id="input_audio_file" style="display: none" accept="audio/*" type="file" name="audio_file" />
    </form>
    
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly_plots.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_2dft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_atn_delay_hist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_pca.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/array.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/csv_parse.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selection.js') }}"></script>
</body>
</html>
