<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WUT | Web Unmixing Toolbox | Interactive Audio Lab</title>
    <meta name="description" content="Web Unmixing Toolbox from the Interactive Audio Lab at Northwestern University">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--<link rel="stylesheet" href="css/normalize.css">-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-multiselect.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <script type="text/javascript" src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>#}
    <!--<script src="js/vendor/plotly.js-master/src/plotly.js"></script>-->
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.js"></script>
{#    <script data-main="scripts/main" src="scripts/require.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.regions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/wavesurfer.timeline.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/papaparse.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/buffer-loader.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/dsp.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-multiselect.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<script src="js/vendor/jquery-3.2.0.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
{#        <script src="js/main.js"></script>#}

<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid" id="title-text-wrapper-outer">
            <div class="navbar-header" id="title-text-inner">
                <a class="navbar-brand" href="#" id="title-text"
                   data-text-swap="Web Unmixing Toolbox" title="What's WUT?">Web Unmixing Toolbox</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="controls">
            <ul class="nav navbar-nav">
                <li class="divider-vertical"></li>
                <li id="import-audio">
                    <a href="#">
                        <i class="glyphicon glyphicon-open icon text-center" id="open-button"></i>
                        <p class="control-text">Open</p>
                    </a>
                </li>

                <li class="divider-vertical"></li>
                <li>
                    <p class="control-text" style="display: inline; padding-left: 0.25em;"> Status:</p><p id="general-status">Ready...</p>
                </li>

            </ul>
        </div>
    </nav>

    <div id="open-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
{#                    <button type="button" class="close" data-dismiss="modal">&times;</button>#}
                    <h3 class="modal-title">Welcome! Open a New Audio File</h3>
                </div>
                <div class="modal-body">
                    <div class="row modal-section" id="file-info-container">
                        <div class="col-sm-2">
                            <p>File: </p>
                        </div>
                        <div class="col-sm-8">
                            <p id="filename"></p>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm" id="open-button-modal">
                                <i class="glyphicon glyphicon-folder-open icon text-center"></i>
                                Open File
                            </button>
                        </div>
                    </div>
                    <form id="survey">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Please tell WUT about your audio...</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="modal-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>This audio contains:</p>
                                    </div>

                                    <div class="col-sm-8">
                                        <select id="mixture-contains" multiple="multiple">
                                            <optgroup label="Voice">
                                                <option value="speech-male">Speech (Male)</option>
                                                <option value="speech-female">Speech (Female)</option>
                                                <option value="speech-other">Speech (Other)</option>
                                                <option value="singing-male">Singer (Male)</option>
                                                <option value="singing-female">Singer (Female)</option>
                                                <option value="singing-other">Singer (Other)</option>
                                                <option value="voice-other">Other Voice</option>
                                            </optgroup>
                                            <optgroup label="Strings">
                                                <option value="guitar-acoustic">Acoustic Guitar</option>
                                                <option value="guitar-clean">Electric Guitar (Clean)</option>
                                                <option value="guitar-effects">Electric Guitar (with effects)</option>
                                                <option value="bass-guitar">Bass Guitar</option>
                                                <option value="violin-viola">Violin/Viola</option>
                                                <option value="cello">Cello</option>
                                                <option value="double-bass">Double (Upright) Bass</option>
                                                <option value="string-section">String Section</option>
                                                <option value="string-other">Strings (Other)</option>
                                            </optgroup>
                                            <optgroup label="Keyboard Instruments">
                                                <option value="piano">Piano</option>
                                                <option value="electric-piano">Electric Piano</option>
                                                <option value="synthesizer">Synthesizer</option>
                                                <option value="keyboard-other">Keyboards (Other)</option>
                                            </optgroup>
                                            <optgroup label="Woodwind and Brasswind">
                                                <option value="saxophone">Saxophone</option>
                                                <option value="clarinet">Clarinet</option>
                                                <option value="flute">Flute</option>
                                                <option value="oboe">Oboe</option>
                                                <option value="bassoon">Bassoon</option>
                                                <option value="trumpet">Trumpet/Cornet</option>
                                                <option value="trombone">Trombone</option>
                                                <option value="tuba">Tuba</option>
                                                <option value="horn-section">Horn Section</option>
                                                <option value="horn-other">Woodwind and Brasswind (Other)</option>
                                            </optgroup>
                                            <optgroup label="Percussion">
                                                <option value="drum-kit">Drum Kit</option>
                                                <option value="bass-drum">Bass Drum</option>
                                                <option value="snare-drum">Snare Drum</option>
                                                <option value="high-hat">High Hat</option>
                                                <option value="cymbals">Cymbals</option>
                                                <option value="mallets">Mallet Instrument</option>
                                                <option value="percussion-other">Percussion (Other)</option>
                                            </optgroup>
                                            <optgroup label="Other">
                                                <option value="sirens">Sirens</option>
                                                <option value="motor">Motors/Cars</option>
                                                <option value="other-other">Other</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>I am trying to extract:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="extraction-goal" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                            </div>
{#                            <div class="modal-section">#}
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="do-not-store">Do not store my data.</label>
                                </div>
{#                            </div>#}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="form-control-static pull-left">
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom"
                           data-content="These two questions allow WUT to recommend which tools will help you the most.
                                         Your response also powers how these recommendations are made. To opt out,
                                         select 'Do not store my data' above.">
                            Why are you asking about my audio?
                        </a>
                    </span>
                    <button id="survey-done" type="submit" class="btn btn-primary disabled" data-dismiss="modal">Start!</button>
                </div>
            </div>
        </div>
    </div>
    <form action="audio_upload" style="display: none;" method="post" role="form"
          enctype="multipart/form-data">
        <input id="input_audio_file" style="display: none" accept="audio/*" type="file" name="audio_file" />
    </form>
    <div id="mainContent">
        <div id="tabs-wrapper">
            <ul class="nav nav-tabs" id="mainTabs">
                <li class="active"><a href="#spectrogram-tab">Input Mixture</a></li>
                <li><a href="#ft2d-tab">2DFT</a></li>
                <li><a href="#duet-tab">Attenuation/Delay Histogram</a></li>
                <li id="results-pill"><a href="#results-tab">Results</a></li>
            </ul>
        </div>


        <div class="tab-content">
            <div class="tab-pane active" id="spectrogram-tab">
                <div class="row" id="spectrogram-controls">
                    <div class="col-md-1"></div>
                    <div class="col-md-1" id="waveform-zoom-buttons">
                        <div class="btn-group">
                            <button id="mixture-zoom-in" class="btn btn-primary" title="Zoom in">
                                <i class="glyphicon glyphicon-zoom-in" id="waveform"></i>
                            </button>

                            <button id="mixture-zoom-out" class="btn btn-primary" title="Zoom out">
                                <i class="glyphicon glyphicon-zoom-out"></i>
                            </button>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="mixture-spec-delete-unselected" class="btn btn-primary spec-tool disabled" title="Remove selected regions">
                                Delete Selected
                            </button>
                            <button id="mixture-spec-delete-selected" class="btn btn-primary spec-tool disabled" title="Remove everything outside selected regions">
                                Delete Unselected
                            </button>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="btn-group">
{#                            <button id="undo" class="btn btn-primary spec-tool- disabled" title="Undo">#}
{#                                Undo#}
{#                            </button>#}
{#                            <button id="redo" class="btn btn-primary spec-tool- disabled" title="Redo">#}
{#                                Redo#}
{#                            </button>#}
                        </div>
                    </div>
                </div>
                <div class="player-wrapper" id="mixture-player">
                    <div class="player-controls" id="mixture-player-controls">
                        <div class="player-controls-inner" style="padding-left: 20px">
                            <div style="padding-bottom: 10px">
                                <button id="mixture-play" class="btn btn-primary result-controls"
                                        title="Play/Pause">
                                        <i class="glyphicon glyphicon-play" title="Play Audio"></i>
                                </button>
                            </div>
                            <div>
                                <button id="mixture-stop" class="btn btn-primary result-controls"
                                        title="Stop">
                                        <i class="glyphicon glyphicon-stop" title="Stop Audio"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="waveform-wrapper" id="mixture-waveform-wrapper">
                        <div class="waveform">
                            <div id="mixture-waveform" style="width: 100%">
                                {# <div class="progress progress-striped active" id="progress-bar" style="display: none;">#}
                                {# <div class="progress-bar progress-bar-info" style="width: 100%;"></div>#}
                                {# </div>#}
                            </div>
                            <div id="waveform-timeline"></div>
                        </div>
                    </div>
                </div>
                <div id="spectrogram-container">

                    <div id="spectrogram-heatmap">
                        <!-- Spectrogram will be drawn in this div -->
                    </div>

                </div>
            </div>


            <div class="tab-pane" id="ft2d-tab">
                <div class="row" id="ft2d-controls">
                    <div class="col-md-1"></div>
                    <div class="col-md-1" id="ft2d-zoom-buttons">
                        <div class="btn-group">
                            <button id="ft2d-zoom-in" class="btn btn-primary" title="Zoom in">
                                <i class="glyphicon glyphicon-zoom-in" id="waveform"></i>
                            </button>

                            <button id="ft2d-zoom-out" class="btn btn-primary" title="Zoom out">
                                <i class="glyphicon glyphicon-zoom-out"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="ft2d-delete-unselected" class="btn btn-primary ft2d-tool disabled" title="Remove selected regions">
                                Delete Selected
                            </button>
                            <button id="ft2d-delete-selected" class="btn btn-primary ft2d-tool disabled" title="Remove everything outside selected regions">
                                Delete Unselected
                            </button>
                        </div>
                    </div>

                </div>
                <div id="ft2d-container">
{#                    <h5>2-Dimensional Fourier Transform</h5>#}
                    <div id="ft2d-heatmap">
                        <!-- 2DFT will be drawn in this div -->
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="duet-tab">
                <div class="row" id="duet-controls">
                    <div class="col-md-1"></div>
                    <div class="col-md-1" id="duet-zoom-buttons">
                        <div class="btn-group">
                            <button id="duet-zoom-in" class="btn btn-primary" title="Zoom in">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </button>

                            <button id="ft2d-zoom-out" class="btn btn-primary" title="Zoom out">
                                <i class="glyphicon glyphicon-zoom-out"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="duet-delete-unselected" class="btn btn-primary duet-tool disabled" title="Remove selected regions">
                                Delete Selected
                            </button>
                            <button id="duet-delete-selected" class="btn btn-primary duet-tool disabled" title="Remove everything outside selected regions">
                                Delete Unselected
                            </button>
                        </div>
                    </div>

                </div>
                <div id="duet-container">
{#                    <h5>duet</h5>#}
                    <div id="duet-heatmap">
                        <!-- Attenuation/Delay Histogram will be drawn in this div -->
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="results-tab">
                <div class="row" style="height: 33px">
                </div>
                <div class="player-wrapper" id="results-player">
                    <div class="player-controls" id="result-player-controls">
                        <div class="player-controls-inner">
                            <div style="padding-bottom: 5px">
                                <button id="result-play" class="btn btn-primary result-controls disabled"
                                        title="Play/Pause">
                                        <i class="glyphicon glyphicon-play" title="Play Audio"></i>
                                </button>
                            </div>
                            <div style="padding-bottom: 5px">
                                <button id="result-stop" class="btn btn-primary result-controls disabled"
                                        title="Stop">
                                        <i class="glyphicon glyphicon-stop" title="Stop Audio"></i>
                                </button>
                            </div>
                            <div>
                                <button id="save-result" class="btn btn-primary result-controls disabled"
                                        title="Save Result">
                                        Save
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="waveform-wrapper" id="result-waveform-wrapper">
                        <div class="waveform">
                            <div id="result-waveform" style="width: 100%">
                                {# <div class="progress progress-striped active" id="progress-bar" style="display: none;">#}
                                {# <div class="progress-bar progress-bar-info" style="width: 100%;"></div>#}
                                {# </div>#}
                            </div>
                            <div id="result-waveform-timeline"></div>
                        </div>
                    </div>
                </div>
                <div id="result-spectrogram-container">

                    <div id="result-spectrogram-heatmap">
                        <!-- Spectrogram will be drawn in this div -->
                    </div>

                </div>
            </div>
        </div>




    </div>
    {#        <div id="representation">#}
    {#            <button id="send_data" class="btn btn-primary" title="Get Toy Data back" onclick="sendDataBack()">#}
    {#                Get Toy Data From Server#}
    {#            </button>#}
    {#            <input id="selection_start" type="number" />#}
    {#            <input id="selection_end" type="number" />#}
    {#            <svg id="beat_spectrum_svg" width="1000" height="500"></svg>#}
    {#            <br />#}
    {#            <br />#}
    {#            <h3>Beat Spectrum</h3>#}
    {#            <div id="beat_spectrum_container">#}
    {#                <div id="beat_spectrum_y_axis"></div>#}
    {#                <div id="beat_spectrum_graph"></div>#}
    {#            </div>#}
    {#            <div id="beat_spectrum_statistics">#}
    {#                <p id="beat_spectrum_entropy">Entropy: </p> <br />#}
    {#                <p id="beat_spectrum_log_mean">log(mean): </p>#}
    {#            </div>#}
    {#            <h2>BOKEH</h2>#}
    {#            <button id="spectrogram_button" class="btn btn-primary"#}
    {#                    title="Spectrogram" onclick="getSpectrogramJson()">#}
    {#                Get Power Spectrogram#}
    {#            </button>#}
    {#            <h3>Power Spectrogram</h3>#}
    {#            <p>Channel #<input id="channel" type="number" /> </p>#}
    {#            <div id="spectrogram_bokeh" style="width: 1000px; height: 600px; position: relative;">#}
    {##}
    {#            </div>#}
    {#            <br />#}
    {#            <br />#}
    {#            <button id="beat_spectrum_button" class="btn btn-primary"#}
    {#                    title="beat_spectrum" onclick="sendDataBack()">#}
    {#                Get Beat Spectrum#}
    {#            </button>#}
    {#             <div id="beat_spectrum_container_bokeh" style="width: 1000px; height: 600px; position: relative;">#}
    {#                {{ beat_spectrum_bokeh }}#}
    {#            </div>#}
    {#        </div>#}

    <div id="footer">
        <p>Ethan Manilow, Bryan Pardo, Darren Gergle
            <br />This work supported in part by NSF Award
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1420971&HistoricalAwards=false">1420971</a>
            <br />Northwestern University</p>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plotly_plots.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_spectrogram.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_2dft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plot_atn_delay_hist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/array.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stft.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/csv_parse.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selection.js') }}"></script>

<!--<div>-->
<!--<input type="checkbox" id="yLogCheckbox">-->
<!--<label for="yLogCheckbox">Log on Y-Axis?</label>-->
<!--</div>-->
<!--<div>-->
<!--<button onclick="make_spectrogram('heatmap')">Redraw</button>-->
<!--</div>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--<script>-->
<!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
<!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
<!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
<!--e.src='https://www.google-analytics.com/analytics.js';-->
<!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
<!--ga('create','UA-XXXXX-X','auto');ga('send','pageview');-->
<!--</script>-->
</body>
</html>
