/* establishes basic defaults across browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
/* for info bubble popups */
@import url('https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.5.0/hint.css');

/* ETHAN CSS */
/* INCORPORATE BETTER IN THE FUTURE */

/* TODO: almost certainly a better way to do this */
.segment {
	fill: rgb(255, 255, 255) !important;
}

#track-container {
	display: flex;
	margin-left: 0;
	margin-right: 0;
	flex-flow: column;
}

#tabs-wrapper {
	padding-left: 95px;
	padding-right: 95px;
	padding-top: 5px;
}

.tab-content {
	padding: 25px 0;
}

#rec-btns {
	margin-bottom: 25px;
}

/* RECOMMENDATIONS TRACK */

#reqs-container {
	margin: 20px;
}

.track-and-controls {
	margin: 0 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-around;
}

.track-controls {
	height: 100px;
	display: flex;
	justify-content: space-between;
	width: 140.52px;
}

.waves-ui-container {
	/* currently horrifying hardcoding */
	/* width: 2370px; */ /* monitor */
	width: 1490px; /* laptop */
	/* flex: 1; */
}

#dc-button-wrapper {
	display: flex;
	justify-content: space-around;
}

.algorithm-and-solo-mute-recs {
	display: flex;
	flex-flow: column;
}

.algorithm {
	/* recenter solo mute recs */
	margin: 2px 0 -22px 0;
}

.solo-mute-recs {
	margin: auto;

	display: flex;
	justify-content: space-around;
}

.db-label-cont {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	text-align: right;
}

.db-label {
	font-size: 0.75em;
}

.track-and-controls:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}

/* TRANSPORT SLIDER HANDLE */

#slider-and-ticks {
	margin: 0 5px;
	position: relative;
}

#transport-slider-wrapper > .slider-handle.custom::before {
	height: 10px;
	font-size: 20px;
	content: '\25BC' !important;
	color: #000000 !important;
}

#transport-slider-wrapper > .slider-tick.custom::before {
	content: '' !important;
}
#transport-slider-wrapper > .slider-tick.in-selection {
	display: none !important;
}

#transport-slider-wrapper > .slider-track {
	height: 4px !important;
	margin-top: 4px !important;
	top: 75% !important;
	border-radius: 0 !important;
}

#transport-slider-wrapper > .slider {
	flex: 1;
	margin-left: 2.5px;
}


#transport-slider-wrapper > .slider-selection {
	background: darkgray;
}

.spacer {
	width: 140px;
}

#ticks-spacer {
	width: 140px;
}

#ticks-spacer-wrapper {
	display: flex;
}

#ticks-wrapper {
	display: flex;
	flex: 1;
}

#ticks {
	height: 10px;
	flex: 1;

	display: flex;
	justify-content: space-between;
}

.tick {
	width: 1px;
	height: 100%;
	background: grey;
	position: relative;
}

.tick.major {
	background:red;
	width:2px;
}

.time {
	position: absolute;
	bottom: 140%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 80%;
}

#transport-slider-wrapper {
	display: flex;
	z-index: 1;
	width: 100%;
	position: absolute;
	top: -10px;
}

/* **************** */
/* END OF ETHAN CSS */
/* **************** */

.modal-contents {
	width: 100%;
	height: 100%;
}

body {
	color: black;

	min-width: 100%;
}

header {
	grid-area: header;

	padding: 0 30px 0 20px;
	border-bottom: whitesmoke 1px solid;
}

header > :first-child {
	font-size: 2em;
	flex: 0 0 auto;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
}

main {
	grid-area: main;

	display: flex;
	flex-flow: column nowrap;
	margin: 10px 0 0 0;
}

main .left-right-waveform-cont {
	border-top: 2px gainsboro solid;
}

main .waveform-cont {
	flex: 0 0 60px;
	padding: 10px 20px;
	margin: 0 30px 10px 30px;

	display: flex;
	align-items: center;
}

main .waveform-cont > :first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 60px;
}

main .waveform-cont > .waveform-title {
	font-size: 1em;
	font-family: Helvetica, sans-serif;

	text-align: center;
}

main .waveform-cont > .controls {
	flex: 0 0 80px;
	margin: 0 10px 0 10px;

	display: flex;
	justify-content: space-between;
}

main .waveform-cont > .controls button {
	padding: 5px 10px;
}

main > .waveform-cont > #mixture-waveform, .shared-waveform-spinner {
	flex: 1;
}

main .interaction {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column;

	justify-content: space-around;
	align-items: center;
}

#spectrogram-container {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

#spectrogram {
	align-self: stretch;
	margin-bottom: 30px;
}

.spectrogram-spinner {
	align-self: stretch;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px 10px 20px;
}

main .interaction > .spectrogram-spinner .title-cont {
	display: flex;
	justify-content: center;
}

main .interaction > .spectrogram-spinner .title-cont > :first-child {
	margin-right: 5px;
}

.shared-plots-spinner {
	align-self: stretch;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px 10px 20px;
}

main .interaction > .shared-plots-spinner .title-cont {
	display: flex;
	justify-content: center;
}

main .interaction > .shared-plots-spinner .title-cont > :first-child {
	margin-right: 5px;
}

main .interaction > .shared-plots-spinner > #cont, #pca-cont, #spectrogram-cont {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

main .interaction #pca-controls {
	display: flex;
	justify-content: space-around;
	margin: 5px 0;
}

main .interaction #pca-controls #pca-checkbox {
	display: flex;
	align-items: center;
}

main .interaction #pca-controls label {
	margin: 0 0 0 5px;
}

main .interaction > .shared-plots-spinner > #pca-cont {
	flex: 0 1 25%;
}

main .interaction > .shared-plots-spinner #pca-1d-slider {
	display: flex;
	justify-content: center;
	padding: 0 15px 0 45px;
}

main .interaction > .shared-plots-spinner #pca-1d-slider  .slider.slider-horizontal {
	width: 100%;
}

main .interaction > .shared-plots-spinner > #spectrogram-cont {
	flex: 0 1 55%;

	/*
		set min-width manually (to anything) otherwise its automatically set
		to initial size on load and then will refuse to shrink below
		that

		set to 850 specifically to enable wrapping of flex items before
		plots become unusably small, corresponds to window width of 1280
	*/
	min-width: 700px;
}

main .interaction > .shared-plots-spinner > #spectrogram-cont > #apply-dc-selections {
	min-width: 0px;
	margin: 20px 30% 0;
}

#dc-button-wrapper {
	display: flex;
}

#apply-spec-selection {
	margin: 0 25% 0 75%;
}

/* BUTTONS */
#pca-selection-modal-open, #apply-spec-selection, #apply-dc-selections {
	margin-top: 20px;
	align-self: center;
	padding-left: 10px;
	padding-right: 10px;
}

footer {
	grid-area: footer;
	border-top: whitesmoke solid 1px;
	text-align: center;
	padding: 5px;
}

footer p {
	margin: 3px;
	font-size: .7em;
}

.aspect-ratio-box {
	/*
		padding-top/bottom are calculated against
		width of containing element. If height is set
		to 0 (and there are no other padding rules) then
		padding-top will make up the full vertical dimension.
		100% therefore means padding is as tall as the width of
		the containing block resulting in a square. 50% is a 2:1
		width to height ratio and so on
	*/
	height: 0;
	padding-top: 100%;
	position: relative;
}

.alignment {
	/* position absolutely to realign inner content */
	position: absolute;

	/* position at top left */
	top: 0;
	left: 0;

	/* make same size as enclosing box */
	width: 100%;
	height: 100%;
}


/* SPINNER */

/* initiallly hide all */

.spinner-outer {
	display: none;

	/* in preparation for display changing to flex */
	justify-content: center;
	align-items: center;
}

.spinner {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*
	currently pretty ugly hardcoding between this and
	min-width on spectrogram
*/
@media screen and (max-width: 1280px) {
	main .interaction > .shared-plots-spinner {
		align-items: center;
	}

	main .interaction > .shared-plots-spinner > #pca-cont {
		flex: 0 1 45%;
		margin-bottom: 50px;
	}

	main .interaction > .shared-plots-spinner > #spectrogram-cont {
		min-width: 0;
		flex: 0 1 90%;
	}
}

/* MODAL */
/* adapted from https://github.com/hakimel/Avgrund */
/* apparently Avgrund means abyss in Swedish */
/* remove all transformations as they affect `position: fixed` behavior of
descendants (essentially makes `position: fixed` act like `position: absolute`
with the transformed ancestor as the container positioned within */

/* modal styling */
.modal {
	/* center horizontally and kinda vertically */
	position: fixed;
	left: 25%;
	top: 25%;

	width: 50%;
	/* make more responsive here */
	height: 45vh;
	min-width: 350px;
	min-height: 300px;

	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: stretch;

	/* initially hidden */
	visibility: hidden;
	opacity: 0;

	/* show above cover when active */
	z-index: 2;

	/* looks */
	background: white;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	border-radius: 3px;
}

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<< MAGIC HAPPENS BELOW >>>>>>>> */
/* <<<< and above to a lesser extent >>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

.audio-upload-modal-active .modal,
.pca-selection-modal-active .modal {
	/* make visible */
	visibility: visible;
	opacity: 1;

	animation: fadein .75s;
}

.pca-selection-modal-active #pca-selection-modal {
	min-height: 600px;
}

@keyframes fadein {
  from { opacity: 0; filter: blur(5px); }
  to   { opacity: 1; }
}

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<< MAGIC HAPPENS ABOVE >>>>>>>> */
/* <<<< and below to a lesser extent >>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<< general modal >>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

.modal-bottom-button {
	border-radius: 0;
	align-self: stretch;
}

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<< general modal >>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<< audio upload modal >>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/* holds back and close buttons */
#audio-upload-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	border-bottom: whitesmoke 1px solid;
}

/* choosing separation types page */
#audio-upload-modal-separation {
	display: flex;
	flex-flow: column;
	align-items: center;
	flex: 1;

	/* Note: this justify-content has no effect if uncommented due to
		 `margin: auto` on next button. Auto margins are idiomatic method for making
		 specific alignments along main axis */
	/* justify-content: space-between; */
}

/* uploading or recording audio page */
#audio-upload-modal-audio {
	flex: 1;
	display: none;

	/* in preparation for dynamic setting of `display: flex` */
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

/* info text for each page */
.modal-info-text {
	font-size: 26px;
	padding: 5px;
	margin-bottom: 10px;
}

#audio-upload-audio-upload-modal-upload-or-record {
	align-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;
}

#audio-upload-audio-upload-modal-upload-or-record > #audio-upload-modal-upload, #audio-upload-modal-record {
	cursor: pointer;

	/* child elements surrounding middle element need to be same size
		 for `margin: auto` to perfectly center middle element (there's
		 probably a nicer way to do this) */
	margin: 0 auto;
	width: 70px;
	height: 70px;
}

#audio-upload-modal-upload {
	display: flex;
	justify-content: center;
	align-items: center;
}

#audio-upload-modal-upload-form {
	display: none;
}

/* record */

#audio-upload-modal-record {
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 70px;
	outline: none;
}

#audio-upload-modal-record.audio-upload-modal-record-off { background-color: darkred; }

#audio-upload-modal-record.audio-upload-modal-record-on {
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{ box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3); }
	65%{ box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3); }
	90%{ box-shadow: 0px 0px 5px 13px rgba(173,0,0,0); }
}

/* on upload/record finished */

#audio-upload-modal-results {
	visibility: hidden;
	display: flex;
	align-self: stretch;
}

#audio-upload-modal-final {
	width: 80%;
	margin: auto;
}

/* modal buttons */

#audio-upload-modal-close {
	border-radius: 0 0 0 .25rem;
}

#audio-upload-modal-back {
	border-radius: 0 0 .25rem 0;
	visibility: hidden;
}

#audio-upload-modal-next {
	/* force to bottom and other children to top */
	margin-top: auto;
}

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<< audio upload modal >>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<< pca selection modal >>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/* choosing separation types page */
#pca-selection-modal-plot-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;

	flex: 1;
}

#pca-selection-modal-plot-wrapper p {
	padding: 5px;
}

/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<< pca selection modal >>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/* misc modal styling around modal */

/* style wrapper class around content */
.modal-content-wrapper {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-rows: 45px 1fr 60px;
	grid-template-columns: 1fr;
	grid-template-areas: 	"header"
												"main"
												"footer";
}

/* set up in background */
.modal-cover {
	/* initially hidden */
	visibility: hidden;
	opacity: 0;

	/* fill screen */
	position: fixed;
	width: 100vh;
	height: 100vh;
	top: 0;
	left: 0;

	/* above content & below modal */
	z-index: 1;

	/* half opacity screen between modal and content below */
	/* come back to if content extends past end of page */
	/* background: rgba(0, 0, 0, 0.5); */
}

/* make cover visible when modal active */
.modal-active .modal-cover {
	visibility: visible;
	opacity: 1;
}

/* blur out content */
.modal-active .modal-content-wrapper {
	filter: blur(5px);
}

/* set all transitions once modal is ready */
body.modal-ready,
.modal-ready .modal-content-wrapper,
.modal-ready .modal,
.modal-ready .modal-cover {
	transition: 0.75s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
