/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #E3F0FB;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between toy_audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#wrapper {
    background-color: #bde4ff;
    border-radius: 0;
    padding: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
}

#main-content {
    margin: 15px;
    /*background: #e3f9fb;*/
}

h1 {
    font-weight: lighter;
}

#title-text-wrapper-outer {
    width: 650px;
    text-align: center;
    float: left;
}

#title-text-wrapper-inner {
    width: 300px;
    text-align: center;
    float: left;
}

#title-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    padding-top: 30px;
}

#open-button {
    padding-left: 10px;
}

#controls {
    /*width: 90%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*text-align: center;*/
    float: left;
}

/*#spectrogram {*/
    /*width: 600px;*/
    /*height: 400px;*/
/*}*/

#plots {
    width: 90%;
    background: #F3F9FD;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.plot-container {
    width: 50%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.buttonStyle {
    border-radius: 4px;
    border: thin solid #F0E020;
    padding: 5px;
    background-color: #F8F094;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #663300;
    /*width: 80px;*/
}

.buttonStyle:hover {
    border: thin solid #FFCC00;
    background-color: #FCF9D6;
    color: #996633;
    cursor: pointer;
}
.buttonStyle:active {
    border: thin solid #99CC00;
    background-color: #F5FFD2;
    color: #669900;
    cursor: pointer;
}

#footer {
    text-align: center;
    position:relative;
    bottom:0;
    width:100%;
}

audio {
    display: none;
}


.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}

.isoline {
    fill: none;
    stroke: #fff;
}

.navbar-default {
  background-color: #64d1ff;
  border-color: #00b3ff;
}
.navbar-default .navbar-brand {
  color: #005b99;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #005fff;
}
.navbar-default .navbar-text {
  color: #005b99;
}
.navbar-default .navbar-nav > li > a {
  color: #005b99;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #005fff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #64d1ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #005b99;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #005fff;
  background-color: #00b3ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #00b3ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #005fff;
  background-color: #00b3ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #005fff;
  background-color: #00b3ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #005fff;
  background-color: #00b3ff;
}
.navbar-default .navbar-toggle {
  border-color: #00b3ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00b3ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #005b99;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #005b99;
}
.navbar-default .navbar-link {
  color: #005b99;
}
.navbar-default .navbar-link:hover {
  color: #005fff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #005b99;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #005fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #005fff;
    background-color: #00b3ff;
  }
}

#title-text-wrapper {
    width: 300px;
    text-align: center;
    margin: 0 auto;

}

.navbar .divider-vertical {
    height: 70px;
    margin: 0 9px;
    border-right: 1px solid #5ec5f0;
    /*border-left: 1px solid #0052ff;*/
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.icon{

    /*height: 70px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.icon i{
    display: block;
    text-align: center;
    /*line-height: 70px;*/
}

#general-status {
    border: 1px solid #005b99;
    width: 400px;
    background: #5ec5f0;
    padding: 4px;
}

.control-text {
    font-size: 0.9em;
    margin: 0;
}

.waveform {
    background-color:#F0F0F0;
    border-radius:2px;
    border: 1px solid #303030;
}

.waveform-wrapper {
    margin-left: 95px;
    margin-right: 95px;
}

/*#waveform-zoom-buttons {*/
    /*padding: 15px;*/
/*}*/

#footer {
    margin-top: 100px;
}

.result-ready {
    -webkit-animation: glow 2s infinite alternate;
}

@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 10px slateblue;
    }
}

#tabs-wrapper {
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 5px;
    background-color: rgba(227, 240, 251, 0.3);
}

.tab-content {
    background: #E3F0FB;
    padding: 15px 0;
}

.player-controls {
    float: left;
    padding-left: 25px;
    padding-top: 7px;
    text-align: right;
}

.player-controls-inner {
    float: right;
}

.duet-heatmap {
    width: 500px;
}

#open-modal {
    position: absolute;
    top: 50px;
}
.modal-section {
    padding: 10px;
    margin: 10px 0;
}

#file-info-container {
    border-bottom: 1px solid #ccc;
}

.popover{
    max-width: 50%; /* Max Width of the popover (depending on the container!) */
}

#mixture-player {
    padding-bottom: 10px;
    margin-top: -18px;
}

.track-and-controls {
    margin: 0 5px;
    background: rgba(94, 196, 239, 0.13);
}

.waves-ui-container {
    background: rgba(235, 234, 239, 0.99);
}

.waves-ui-track {
    /*margin: 5px 0;*/
}

.slider-handle.custom::before {
	height: 10px;
	font-size: 20px;
	content: '\25BC' !important;
	color: #000000 !important;
}

.slider-tick.custom::before {
    content: '' !important;
}
.slider-tick.in-selection {
    display: none !important;
}

.slider-track {
    background: #FFF !important;
    height: 1px !important;
    margin-top: 3px !important;
    top: 75% !important;
}

.slider {
    /*width: 100% !important;*/
    width: 1000px !important;
    margin: 0 15px;

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
