@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.5.0/hint.css');

body {
	color: black;

	min-height: 100vh;
	min-width: 100%;

	display: grid;
	grid-template-rows: 75px 1fr 75px;
	grid-template-columns: 1fr;
	grid-template-areas: 	"header"
												"main"
												"footer";
}

header {
	grid-area: header;

	padding: 0 30px 0 20px;
	border-bottom: whitesmoke 1px solid;
}

header > :first-child {
	font-size: 3em;
	flex: 0 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	grid-area: main;

	display: flex;
	flex-flow: column nowrap;
	margin: 10px 0 0 0;
}

main > .waveform-cont {
	flex: 0 0 100px;
	padding: 10px 20px;
	margin: 0 30px 20px 30px;

	display: flex;
	align-items: stretch;
}

main > .waveform-cont > :first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 80px;
}

main > .waveform-cont > #upload {
	cursor: pointer;
}

main > .waveform-cont > .waveform-title {
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;

	text-align: center;
}

main > .waveform-cont > .controls {
	flex: 0 0 40px;
	margin: 0 20px 0 20px;

	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

main > .waveform-cont > .controls div {
	padding: 10px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

main > .waveform-cont > #mixture-waveform, .shared-waveform-spinner {
	flex: 1;
}

main > .interaction {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column;

	justify-content: space-around;
	align-items: center;
}

main > .interaction > #apply-selections {
	margin: 10px 0 30px 0;
}

.shared-plots-spinner {
	align-self: stretch;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px 10px 20px;
}

main > .interaction > .shared-plots-spinner .title-cont {
	display: flex;
	justify-content: center;
}

main > .interaction > .shared-plots-spinner .title-cont > :first-child {
	margin-right: 5px;
}

main > .interaction > .shared-plots-spinner > #pca-cont, #spectrogram-cont {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

main > .interaction > .shared-plots-spinner > #pca-cont {
	flex: 0 1 29%;
}

main > .interaction > .shared-plots-spinner > #spectrogram-cont {
	flex: 0 1 65%;

	/*
		set min-width manually (to anything) otherwise its automatically set
		to initial size on load and then will refuse to shrink below
		that

		set to 850 specifically to enable wrapping of flex items before
		plots become unusably small, corresponds to window width of 1280
	*/
	min-width: 850px;
}

footer {
	grid-area: footer;
	border-top: whitesmoke solid 1px;
	text-align: center;
	padding: 5px;
}

footer p {
	margin: 3px;
	font-size: .8em;
}

.aspect-ratio-box {
	/*
		padding-top/bottom are calculated against
		width of containing element. If height is set
		to 0 (and there are no other padding rules) then
		padding-top will make up the full vertical dimension.
		100% therefore means padding is as tall as the width of
		the containing block resulting in a square. 50% is a 2:1
		width to height ratio and so on
	*/
	height: 0;
	padding-top: 100%;
	position: relative;
}

.alignment {
	/* position absolutely to realign inner content */
	position: absolute;

	/* position at top left */
	top: 0;
	left: 0;

	/* make same size as enclosing box */
	width: 100%;
	height: 100%;
}


/* SPINNER */

/* initiallly hide all */

.spinner-outer {
	display: none;

	/* in preparation for display changing to flex */
	justify-content: center;
	align-items: center;
}

.spinner {
  background: lightblue;

	width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/*
	currently pretty ugly hardcoding between this and
	min-width on spectrogram
*/
@media screen and (max-width: 1280px) {
	main > .interaction > .shared-plots-spinner {
		align-content: center;
	}

	main > .interaction > .shared-plots-spinner > #pca-cont {
		flex: 0 1 45%;
		margin-bottom: 50px;
	}

	main > .interaction > .shared-plots-spinner > #spectrogram-cont {
		min-width: 0;
		flex: 0 1 90%;
	}
}